@import "reset.css";

.body {
  height: 100vh;
}

.menu {
  background-color: white;
  height: 45px;
  width: 980px;
  display: flex;
  justify-content: space-between;
}

.whole {
  width: 100px;
  height: 30px;
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
  text-align: center;
}

.suite-picture {
  background-color: darkgreen;
  height: 263px;
  width: 500px;
}
.special {
  width: 71px;
  height: 36px;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  color: #222;
  line-height: 1.423em;
  margin: 0;
}

.content {
  background-color: rgb(150, 87, 150);
  width: 980px;
  height: 263px;
  display: flex;
  justify-content: space-between;
}

.type {
  background-color: coral;
  width: 440px;
  height: 263px;
  display: flex;
  flex-direction: column;
}

.suite-cinema {
  background-color: darkkhaki;
  width: 438px;
  height: 63px;
}

.sky-box {
  background-color: darkmagenta;
  width: 438px;
  height: 63px;
}

.cine-de-chef {
  background-color: darkolivegreen;
  width: 438px;
  height: 63px;
}

.DX {
  background-color: darkturquoise;
  width: 438px;
  height: 63px;
}
