@import "reset.css";

h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* 영화 차트 */
.main__screen__moviechart {
  display: flex;
  justify-content: center;
  background: #fcfcfc;
}
.main__screen__moviechart--container {
  width: 1034px;
  overflow: hidden;
  margin: 55px 0;
}
.moviechart-nav {
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.moviechart-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}
.moviechart-header h3:first-child {
  padding-right: 20px;
  border-right: 1px solid #e4e4e4;
  font-weight: bold;
}
.moviechart-header h3:last-child {
  padding-left: 20px;
}
.moviechart-header h3:last-child > a {
  color: #666666;
}
.moviechart-viewall {
  display: flex;
  width: 70px;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  padding: 5px 5px 5px 16px;
  box-shadow: 0.5px 1px #e6e6e6;
  align-items: center;
}
.moviechart-nav a {
  text-decoration: none;
  color: black;
  padding-right: 5px;
}
.moviechart-viewall > a {
  font-size: 12px;
}
.movieimg-rank {
  position: absolute;
}

.moviechart-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: none;

  position: relative;
}
.movie-card {
  width: 170px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 0 44px 0 0;
  height: 300px;
}
.movie-img {
  width: 170px;
  border-radius: 10px;
}
.movie__card-overlay {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  z-index: 3;
  opacity: 1;
}
.num {
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: 4500;
  bottom: 0px;
  left: 10px;
  font-style: italic;
}
.movie__card-overlay > .overlay-detailview {
  position: absolute;
  top: 150%;
  left: 25px;
  background-color: #fb4357;
  text-align: center;
  padding-top: 13px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  width: 120px;
  height: 25px;
}
.movie__card-overlay > .overlay-ticketing {
  position: absolute;
  top: 150%;
  left: 25px;
  background-color: white;
  text-align: center;
  padding-top: 13px;
  color: gray;
  border-radius: 5px;
  font-size: 14px;
  width: 120px;
  height: 25px;
}
.movie__card-overlay:hover .overlay-detailview {
  top: 125px;
  z-index: 2;
}
.movie__card-overlay:hover .overlay-ticketing {
  top: 80px;
  z-index: 2;
}
.movie__card-overlay:hover .num {
  display: none;
}
.overlaywrap .movie__card-overlay::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
  opacity: 0;
}
.overlaywrap:hover .movie__card-overlay::after {
  opacity: 1;
}

.overlay-ticketing:hover {
  opacity: 0.8;
}

.overlay-detailview:hover {
  opacity: 0.8;
}

.movie-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.movie-detail {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #444444;
}
.movie-detail > .movie-ticketing {
  padding-left: 15px;
}
.fa-egg {
  color: #ffc10e;
  padding-right: 5px;
}
.arrow-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slide-prev {
  position: absolute;
  top: 100px;
  left: 0px;
  display: block;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px 2px #dae3e7;
  color: black;
  z-index: 4;
}
.slide-next {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 4;
  display: block;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px 2px #dae3e7;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}
/* -----------공지사항----------------- */
.main__notice--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 426px;
}
.main__notice--main {
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  display: flex;
  margin-right: 30px;
}
.main__notice--content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 28px 26px 39px 28px;
  border-right: 1px solid #e4e4e4;
}

.main__notice--board {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  justify-content: space-between;
  text-align: center;
}
.main__notice--board a {
  color: black;
  text-decoration: none;
}
.main__notice--board > p:first-child {
  font-weight: bold;
}

.main__notice--service-info {
  margin-top: 20px;
}

.text-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  width: 60%;
}
.main__notice--board p:last-child {
  font-size: 12px;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  padding: 4px 15px 4px 15px;
}

/* 고객센터 */
.main__notice--service-client {
  padding: 13px 0;
}
.main__notice--service-client dt {
  margin-right: 26px;
  font-weight: bold;
}
.main__notice--service-client p {
  font-size: 14px;
}
.main__notice--service-client p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
.main__notice--service-client p:last-child {
  margin-top: 10px;
  color: #666666;
}
/* -------고객센터---- */
.main__notice--service-client {
  margin-bottom: 20px;
}

.main__notice--service-question a {
  text-decoration: none;
  color: black;
  background-color: #f6f6f6;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}
/* qr박스 */
.main__notice--qr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 12px 22px 24px 22px;
}

.app_explain-two {
  color: #666666;
}
/* 고객센터 */
.main__notice--service-client dl {
  display: flex;
}

.app_explain-one > span {
  font-weight: bold;
}
.app_explain-one > p {
  font-size: 12px;
  margin-top: 10px;
}
.app_explain-two {
  font-size: 12px;
  line-height: 20px;
}
.qrimg {
  width: 70px;
  height: auto;
}
.main__notice--img {
  display: flex;
  justify-content: start;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
  width: 235px;
  height: 260px;
}

.notice-img {
  margin-right: 10px;
  border-radius: 10px;
}

.main__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}
.main__footer--content {
  width: 1034px;
  height: 446px;
  padding: 0 120px;
}
.footer-img {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ffdb99;
}
.footer-img > img {
  width: 1034px;
  height: 250px;
}

.main__footer--list {
  list-style: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: #666666;
}
.main__footer--list > ul {
  display: flex;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  justify-content: space-between;
}
.main__footer--list #important {
  font-weight: bolder;
  text-decoration: underline;
  color: black;
}

.main__footer--list li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main__footer--copyright {
  padding: 20px 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main__footer--copyright div {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 550rem;
  line-height: 1.2rem;
}
.main__footer--copyright a {
  color: black;
}

.footer__shortcut--option select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px 50px 10px 5px;
  background-color: #f8f8f8;
}

.option__shortcut--optionBtn {
  border: none;
  background-color: #9e9e9e;
  color: white;
  height: 35px;
}
.footer__shortcut--option select:focus {
  outline: 3px solid #ead3d7;
}
