.event__box__outer {
  width: 980px;
  height: 272px;
  overflow-x: hidden;
}

.event__box__outer__slide {
  display: flex;
  height: 100%;
  transition: margin-left 0.5s ease-in;
}

.event__box__container {
  display: flex;
  width: 980px;
  height: 272px;
  justify-content: space-between;
}
.event__box__container__content {
  width: 310px;
  height: 272px;
  display: flex;
  flex-direction: column;
}

.event__box__container__content--img {
  width: 310px;
  height: 210px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.event__box__container__content--img img {
  width: 310px;
  height: 210px;
  cursor: pointer;
}

.event__box__container__content--img img:hover {
  animation: makeBig 1s both;
}

.event__box__container__content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  height: 70px;
}
.event__box__container__content--text > span {
  padding: 4px;
}

.event__box__container__content--text > span:nth-child(1) {
  font-weight: bold;
}
.event__box__container__content--text > span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.5;
}

@keyframes makeBig {
  form {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
