
    a {
        color: black;

         /* 밑줄 제거 */
        text-decoration: none;
    }

    hr {
        margin: 0;
    }
   
    .header {
         /* flex는 inline (default) */
        display: flex;

        /* .header__logo 와 .header__link 사이 빈칸 생성 */
        justify-content: space-between;
        
        /* .header__logo 와 .header__link 세로 정렬 */
        align-items: center;

        /* .header에 해당되는 요소의 넓이를 고정 */
        width: 980px;

        /* 
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        오른쪽, 왼쪽을 고정된 width 기준으로 마진을 늘려줌
        */
        margin: 0 auto;

        /*
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        */
        padding: 20px 30px;
    }

    /* 로고 옆 글자 */
    .header__logo::after {
        content: 'CULTUREPLEX';
        font-family: 'Dokdo', cursive;
        letter-spacing: 0.3em;
    }

    /* 로그인, 회원가입, My CGV, 고객센터 스타일 시작 */
    .header__link > ul{
        display: flex;
        list-style: none;
        margin: 0px;
    }

    .header__link__item {
        width: 80px;
        text-align: center;
        cursor: pointer;
        margin: 0;
        font-size: 17px;
        font-family: 'Dongle', sans-serif;
    }

    .header__link__item > .iconify {
        color: black;
        font-size: 36px;
    }
    /* 로그인, 회원가입, My CGV, 고객센터 스타일 종료 */


    .mainMenu{
        display: flex;
        width: 1000px;
        
        margin: 0 auto;
        
    }

    .mainMenu__item{
        margin: 0px auto;
        font-size: 30px;
        font-family: 'Dongle', sans-serif;
        cursor: pointer;
        
        
        padding: 35px;
        border-right: 1px solid black;       
        
        overflow: hidden;
        transition-delay: 2s;
    }

    .mainMenu__item:first-child{
        border-left: 1px solid black; 
    }

    .mainMenu__item > h2{
        text-align: center;
        color: slategray;      
    }

    .mainMenu__sub__item {        
        /*글자 줄바꿈 방지*/
        white-space : nowrap;    
    }

    .serach {
        display: flex;
        width: 200px;
        height: 36px;
        padding-left: 30px;
        cursor: pointer;
        margin: 0px auto;        		
    }

    .serach > input {
        border: none;
        border-bottom: solid 2px black;
    }

    .serach > input:focus{
        outline-style: none;
    }

    .mainMenu__sub__item {        
        padding-top: 10px;
    }

    .mainMenu__sub__item:hover {
        background: gray;
    }

    .showMenu{
        display:flex;

        /* 가로 가운데 정렬*/
        width: 980px;
        margin: 0 auto;

        /*세로 가운데 정렬*/
        align-items: center;  

        /*스크롤 내리면 상단*/
        background: white;
        position: sticky;
        top: 0;        

        /* 줄바꿈 방지 */
        white-space : nowrap;
    }

    .showMenu__item {
        display: flex;
        width: 980px;
        margin: 0 auto;
        align-items: center;
    }

    .showMenu__sub__item{        
        font-size: 30px;
        font-family: 'Dongle', sans-serif;        
        cursor: pointer;
        padding: 15px;        
    }

    .fullMenu {
        position: sticky;
        top: 0;
        border-bottom: solid 1px black;
        background: white;
    }

    .showMenuHr {
        display: block;
        top: 60px;
        position: sticky;
        border-bottom: solid 1px black;
    }