@import "reset.css";

.specialty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  height: 45px;
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whole {
  width: 100px;
  height: 30px;
  padding: 0;
  font-size: 15px;
  color: #222;
  line-height: 1.429em;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.suite-picture {
  background-color: darkgreen;
  height: 263px;
  width: 500px;
  overflow: hidden;
  border-radius: 15px;
}

.picture > img {
  height: 263px;
  width: 500px;
  z-index: 4;
}

.special {
  width: 71px;
  height: 36px;
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  color: #222;
  line-height: 1.423em;
  background-image: none;
}

.content {
  width: 980px;
  height: 263px;
  display: flex;
  justify-content: space-between;
}

.type {
  width: 440px;
  height: 263px;
  display: flex;
  flex-direction: column;
}

.suite-cinema {
  width: 405px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 19px 19px;
  cursor: pointer;
}
.suite-cinema:hover {
  border-top: 1px solid transparent;
  border: 1px solid #000;
  border-radius: 10px;
}

.suite-cinema1 {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
}
.suite-cinema2 {
  padding: 2px 7px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.sky-box {
  width: 405px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 19px 19px;
  cursor: pointer;
}
.sky-box:hover {
  border-top: 1px solid transparent;
  border: 1px solid #000;
  border-radius: 10px;
}
.sky-box1 {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
}

.sky-box2 {
  padding: 2px 7px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.cine-de-chef {
  width: 405px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 19px 19px;
  cursor: pointer;
}

.cine-de-chef:hover {
  border-top: 1px solid transparent;
  border: 1px solid #000;
  border-radius: 10px;
}

.chef1 {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
}

.chef2 {
  padding: 2px 7px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.DX {
  width: 405px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 19px 19px;
  cursor: pointer;
}

.DX:hover {
  border-top: 1px solid transparent;
  border: 1px solid #000;
  border-radius: 10px;
}

.DX1 {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  line-height: 1.444em;
}

.DX2 {
  padding: 2px 7px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}
