.event__box__container {
  background-color: blueviolet;
  display: flex;
  width: 980px;
  height: 272px;
  justify-content: space-between;
}
.event__box__container__content {
  width: 310px;
  height: 272px;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
}

.event__box__container__content--img {
  width: 310px;
  height: 210px;
  background-color: beige;
}

.event__box__container__content--img img {
  width: 310px;
  height: 210px;
  cursor: pointer;
}

.event__box__container__content--img img:hover {
  animation: makeBig 1s both;
}

.event__box__container__content--text {
  background-color: gray;
  width: 310px;
  height: 50px;
}

@keyframes makeBig {
  form {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
