@import "./style/reset.css";
@import "./style/event-box.css";
@import "./style/box-header.css";
@import "./style/box-container.css";

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
